body {
  margin: 0;
  text-align: center;
  font-family: 'Basic', sans-serif;
}

h1 {
  margin: 60px auto 0 auto;
  font-family: 'Bad Script', cursive;
  font-size: 5.625rem;
  color: #248ea9;
}

h2 {
  font-family: 'Rancho', cursive;
  color: #248ea9;
  font-size: 1.875rem;
  font-weight: normal;
  margin-bottom: 3.125rem;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 8px;
  border-color: powderblue;
  width: 5%;
}

p {
  line-height: 2;
}

a {
  color: #248ea9;
  font-family: 'Basic', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #112f91;
}

.top {
  background-color: powderblue;
  position: relative;
  padding-top: 100px;
}

.avatar {
  width: 7%;
  height: 7%;
  background-color: yellow;
  border-radius: 50px;
  margin-top: 20px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.mountain {
  margin-bottom: -3px;
}

.skill-row {
  width: 50%;
  margin: 30px auto 170px auto;
  text-align: left;
  line-height: 2;
}


.bottom {
  background-color: powderblue;
  padding: 25px 25px 25px 25px;
  margin-top: 20px;
}

 .coding {
   width: 25%;
   float: left;
   margin-right: 30px;
 }

 .CS2 {
   width: 25%;
   float: right;
   margin-left: 30px;
 }

.body-headers {
  margin: 40px 0;
}

.btn {
  border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
  }
.bot-margin {
  margin: 0 auto 80px auto;
  width: 40%;
}

.contact-me {
  margin: 80px;
  text-align: center;
}

.middle {
  margin: 100px 0 0 0;
}

.profile {
  margin-bottom: 60px;
}

.intro {
  width: 30%;
  text-align: center;
  margin: auto;
}

.seperate {
  margin: auto;
  color: #0000EE;
  text-decoration: underline;
}
.seperate:hover {
  color: #0000EE;
}

.copy-right {
  color: #112f91;
  font-size: 12px;
  padding: 20px 0;
}

.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Basic', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
